/*Para importar un tipo de letra desde google font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

/*Lenguaje de estilos*/
h1{
    font-family: 'Pokemon Solid', sans-serif;
    color: violet;
    width: 700;
    height: 130;
    background-color: cadetblue;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 80px;
    margin: 10px;
    border-radius: 25px;

}
/*
Este label tiene un display inline, por lo cual aunque le cambiemos el ancho y alto, no se modificará como tal
label{
    background-color: aqua;
    width: 200px;
    height: 150px;
}
input{
    background-color: aqua;
    width: 200px;
    height: 150px;
}
button{
    background-color: aqua;
    width: 200px;
    height: 150px;
}*/
#selectMokepon{
    /*para que sepa que se van a ocupar las herramientas de flexbox*/
    display: flex;
    /*para que cada elemento se acomode uno debajo del otro*/
    flex-direction: column;
    /*Para que los elementos se acomoden verticalmente al centro del contenedor*/
    justify-content: center;
    /*Para que los elementos se ajusten centrados a lo ancho de la pantalla*/
    align-items: center;

    /*Para que el contenido se ajuste al centro de la pantalla independientemente de su tamaño*/
    height: 100vh;
    /*view height*/
}

/*Agregaremos una clase a todos los label que tienen escrito el nombre de los ataques para que las mismas características se apliquen a todos los casos*/
.tarjetas{
    background:linear-gradient( green, rgb(117, 237, 131));
    height: 200px;
    width: 300px;
    padding: 15px;
    /*para que el padding no se agregue como un tamaño extra al tamaño inicial que se le dió al elemento*/
    box-sizing: border-box;
    border-radius: 20px;
    margin: 10px;
    /*Para que ponga a su contenido un elemento al lado del otro*/
    display: flex;
    /*Para ajustar los items al centro del contenedor*/
    align-items: center;
}

button{
    background: linear-gradient( rebeccapurple, pink);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(207, 76, 98);
    width: 200px;
    color: antiquewhite;
    /*Aplicarle independientemente el tipo de letra*/
    font-family: 'Raleway', sans-serif;
    /*Si le ponemos 4 valores al margin serán en el orden de las manecillas del reloj empezando desde arriba*/
    margin: 30px;
    font-size: x-large;
}

h3{
    background-color: aqua;
    padding: 10px;
    border-radius: 20px;

}
body{
    background: linear-gradient(rgb(232, 133, 133), rgb(245, 138, 245), rgb(117, 117, 240));
    font-family: 'Raleway', sans-serif;

}

.divClass{

    display: flex;
}

.tarjetas img{
    width: 200px;
}

input{
    /*Para ocultar los inputs*/
    /*momentaneamente no se ocultarán*/
    /*display: none;*/
}

/*esta estructura hará que el hermano siguiente tome las caracteristicas agregadas*/
/*En este caso, al darle click al input, el label siguiente adoptará las caracteristicas*/
input:checked + label{
    border: 5px solid rgb(222, 86, 86);
}

#selectAtack{
    /*Para que los elementos se ubiquen con estructura flexible*/
    display: flex;
    /*Para que los elementos se ordenen verticalmente*/
    flex-direction: column;
    /*Para alinear los elementos centrados*/
    align-items: center;
}

.botonAtaque{
    font-size: x-large;
}

#mensajes{
    display: flex;
    background: pink;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}
.mensajeAtaques{
    padding: 10px;
}

.classAtaques{
    /*Para poder desplegar un grid*/
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
    align-items: center;
}

#divAtaquesJugador, #divAtaquesEnemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Para escribir las caracteristicas que queremos aplicar cuando se tengan esas caracteristicas*/
/*max-width es como "hasta" para que se apliquen las caracteristicas con valores minimos a ese valor*/
@media(max-width:360px){
    .divClass{
        flex-direction: column ;
    }
    #ataquesBotones{
        display: flex;
        flex-direction: column;
    }
}